// src/styles/_variables.scss

// Colors
$color-background: #fff0a7;
$color-background-2: #4D4D4D;
$color-primary: #FFEE32;
$color-primary-light: #fef7ac;
$color-secondary: #FFD100;
$color-success: #80c97c;
$color-error: #ed5b5b;
$color-text-light: #ffffff;
$color-text-dark: #4D4D4D;


// Font sizes
$font-title: 2.5rem;
$font-button: 1.2rem;
