<div class="container ">
  <ng-container *ngIf="settings$ | async as settings">
    <ng-container *ngIf="settings.username !== ''">
      <ng-container *ngIf="settings.profilePicture !== ''">
        <img [src]="settings.profilePicture" />
      </ng-container>
      <h1>Welcome back {{ settings.username }}!</h1>
      <p>You've completed {{ settings.sessionCount || 0 }} sessions.</p>
    </ng-container>
    <ng-container *ngIf="settings.username === ''">
      <h3>LET'S WORK TOGETHER!</h3>
      <p>With me you can choose how to work, how long and with fun!</p>
    </ng-container>
  </ng-container>

  <button class="bg-emerald-500 text-white px-4 py-2 rounded" (click)="onStart()">
    Let's start!
  </button>
  
</div>
